<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="SubscriptionGuard Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <server name="IYZICO_API_KEY" value=""/>
        <server name="IYZICO_SECRET_KEY" value=""/>
        <server name="IYZICO_BASE_URL" value="https://sandbox-api.iyzipay.com"/>
        <server name="IYZICO_CALLBACK_URL" value="http://localhost:8000/subguard/webhooks/iyzico/checkout/callback"/>
        <server name="IYZICO_MOCK" value="false"/>
        <server name="SUBGUARD_WEBHOOK_PREFIX" value="subguard/webhooks"/>
    </php>
</phpunit>
